<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h3>What do you want?</h3>
  <div class="button-row">
    <button mat-stroked-button color="primary">New Game Random</button>
    <button mat-stroked-button color="primary">New Game Classic</button>
    <button mat-stroked-button color="accent">Load Game</button>
    <a mat-stroked-button href="https://gitlab.com/GinTR1k/15-puzzle" target="_blank">GitLab</a>
  </div>

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
